*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Frequently used or Commonly used class styles */

/* h1 */
h1 {
    
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

/* h2 */
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

/* h3 */
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}

/* h4 */
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;    
    color: #737272;
}

/* p-tag */
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* Primary button style */
.btn-primary {
    width: 160px;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    background: #FFFFFF;
    border: 0px;
    border-radius: 5px;
}

/* Secondary button style */
.btn-secondary{
    width: 170px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
}

section{
    margin-top: 130px;
}


/* ----------------Sectionwise Styles------------ */

/* Header Section */
.header {
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner {
    width: 525px;
    margin: auto 230px auto auto;
    text-align: right;   
}

.banner .description {
    color: #FFFFFF;
}


/* Failure Section */
.failure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#failure-container1{
    width: 569px;
    margin: auto 0px auto auto;
}
#failure-container2 {
    width: 416px;
    margin: auto auto auto 0px;
}