*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Frequently used or Commonly used class styles */

/* h1 */
h1 {
    
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

/* h2 */
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

/* h3 */
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}

/* h4 */
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;    
    color: #737272;
}

/* p-tag */
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* Primary button style */
.btn-primary {
    width: 160px;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    background: #FFFFFF;
    border: 0px;
    border-radius: 5px;
}

/* Secondary button style */
.btn-secondary{
    width: 170px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
    border: 0;
}

section{
    margin-top: 130px;
}


/* ----------------Sectionwise Styles------------ */


/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* Header Section */
.header {
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner {
    width: 525px;
    margin: auto 230px auto auto;
    text-align: right;   
}

.banner .description {
    color: #FFFFFF;
}


/* Failure Section */
.failure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#failure-container1{
    width: 569px;
    margin: auto 0px auto auto;
}
#failure-container2 {
    width: 416px;
    margin: auto auto auto 0px;
}

ul {
    padding-left: 0px;
}

/* li */
.list-item {
    list-style-type: none;
    padding: 8px 0px;
}

/* Fontawesome Icon style */
i {
    color: #16D887;
    margin-right: 10px;
    align-items: center;
}


/* Plans Section */
.plan {
    text-align: center;
}
.plan .section-title {
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-title {
    margin: 20px auto;
}


/* Skills Section */
.skill {
    text-align: center; 
}

.skill .section-title {
    margin-bottom: 70px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
}

.skill-icon {
    height: 92px;
    width: 92px;
    margin-bottom: 20px;
}

/* Skill Cards */
.skill-info{
    margin: auto auto;
    width: 360px;
    height: 352px;
    border-radius: 10px;
    padding: 60px 30px 60px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
}

#skill-info-1, #skill-info-4{
    background: rgba(79, 157, 166, 0.1);
}

#skill-info-2, #skill-info-3{
    background: rgba(129, 123, 123, 0.1);
}


/* Mindset Banner Section */
.mindset-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('images/watch.png');
    border-radius: 8px;
}

.slogan {
    margin: auto auto auto 64px;
    width: 460px;
}

.mindset-title {
    color: #FFFFFF;
}

.slogan .btn-primary {
    margin-top: 24px;
}


/* Footer Section */
.footer {
    background: #151414;
    display: flex;
    margin-top: 130px;
    height: 577px;
}


/* Contact Section */
.contact {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

#div1 {
    margin-right: 200px;
}

a {
    padding-right: 20px;
    text-decoration: none;
}

.contact-title, .contact-sub-title, .contact .description {
    color: #FFFFFF;
}

.contact input {
    width: 325px;
    height: 64px;
    margin-top: 30px;
    margin-bottom: 16px;
    background-color: transparent;
    padding-left: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
}
